@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "StatGlobal Index";
    Layout = "_Layout_Admin";

    string[] colors = { "#0D47A1", "#1B5E20", "#B71C1C","#E65100", "#4A148C","#3E2723","#01579B","#004D40"};
}

<div class="app-title">
    <div>
        <h1><i class=" bi bi-bar-chart"></i> Stat Global </h1>
        <p>Représentation de la répartition de toutes les affaires</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="bi bi-house-door fs-6"></i></li>
        <li class="breadcrumb-item"><a asp-action="" asp-controller="">StatGlobal</a></li>
    </ul>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row d-flex justify-content-end align-items-center">
                    <div class="col-md-4">
                        <div class="form-floating">
                            <input type="date" class="form-control form-control-secondary" id="floatingInput">
                            <label for="floatingInput" style="background-color:redt">Choisir une date Maximum</label>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-outline-secondary btn-lg"><i class="bi bi-search"></i></button>
                    </div>
                 </div>
            </div>
        </div>

    </div>
</div>

<br>

<div class="row">
    <div class="col-lg-12">
        <div class="card" style="background-color:#3b5a81;color:white">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-md-4 text-center">
                        <h2>Affaires Entrantes</h2>
                        <h1 style="font-size:100px">159</h1>
                        <h5>Non clôturer : 12</h5>
                    </div>
                    <div class="col">
                        <table class="table" style="--bs-table-color:white;--bs-table-bg:transparent;--bs-table-border-color: #fbf9f94d">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align:center;">NATURE AFFAIRE</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Badoda</td>
                                    <td scope="col">1</td>
                                </tr>
                                <tr>
                                    <td scope="row">Badoda</td>
                                    <td scope="col">2</td>
                                </tr>
                                <tr>
                                    <td>Badoda</td>
                                    <td scope="col">1</td>
                                </tr>
                                <tr>
                                    <td scope="row">Badoda</td>
                                    <td scope="col">2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <table class="table" style="--bs-table-color:white;--bs-table-bg:transparent;--bs-table-border-color: #fbf9f94d">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align:center;">TYPE DOSSIER</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Badoda</td>
                                    <td scope="col">1</td>
                                </tr>
                                <tr>
                                    <td scope="row">Badoda</td>
                                    <td scope="col">2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="tile">
            <h3 class="tile-title text-center">Répartition par Étapes</h3>
            <div class="ratio ratio-21x9">
                <div id="eChartStep"></div>
            </div>
        </div>
    </div>
    <div class="col d-flex flex-column">
        <div class="row flex-grow-1">
            <div class="tile flex-grow-1 d-flex flex-column justify-content-center" style="background-color:#ff993a;color:white">
                <h3 class="tile-title text-center">Affaire Renvoyée</h3>
                <h1 style="font-size:500%;text-align:center">21</h>
            </div>
        </div>
        <div class="row flex-grow-1">
            <div class="tile flex-grow-1 d-flex flex-column justify-content-center" style="background-color:#8bc43f;">
                <h3 class="tile-title text-center">Affaire Clôturée</h3>
                <h1 style="font-size:500%;text-align:center">21</h>
            </div>
        </div>
        
    </div>
</div>


@* Echart *@
<script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>


<script>
    const dom = document.getElementById('eChartStep');

    var mychart = echarts.init(dom, {
        renderer: 'canvas',
        useDirtyRect: false
    });

    var app = {};

    var option;

    option = {
        title: {
            // text: 'Referer of a Website',
            // subtext: 'Fake Data',
            // left: 'center'
        },
        tooltip: {
            trigger: 'item'
        },
        legend: {
            orient: 'vertical',
            left: 'left'
        },
        series: [
            {
                name: 'Access From',
                type: 'pie',
                radius: '50%',
                data: [
                    { value: 1048, name: 'Search Engine' },
                    { value: 735, name: 'Direct' },
                    { value: 580, name: 'Email' },
                    { value: 484, name: 'Union Ads' },
                    { value: 300, name: 'Video Ads' }
                ],
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };


    if (option && typeof option === 'object') {
        mychart.setOption(option);
    }

    window.addEventListener('resize', mychart.resize);

</script>